.ContactApp {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.contact_heading {
  color: white;
  font-size: 50px;
}
.form {
  color: white;
  margin: 0 15px;
  padding: 15px 20px;
  border: 3px solid white;
  width: 60%;
}
.form input,
.form select {
  background: transparent;
  margin-bottom: 8px;
  padding: 0 5px;
  height: 25px;
  color: white;
}
option {
  background-color: #00960a;
}

::placeholder {
  color: white;
}
select {
  color: white;
}
.user_name {
  margin-left: 50px;
  width: 188px;
}
.contact_number {
  width: 188px;
  margin-left: 12px;
}
.email {
  width: 188px;
  margin-left: 90px;
}
.gender {
  margin-left: 73px;
  width: 200px;
  cursor: pointer;
}
.age {
  width: 188px;
  margin-left: 103px;
}
.create_button {
  cursor: pointer;
  width: 128px;
  height: 40px;
  margin-top: 11px;
  margin-left: 277px;
}
.contact-card {
  color: white;
  margin: 0 15px;
  padding: 0 20px 5px 20px;
  border: 3px solid white;
  width: 60%;
}
