.contact_heading {
  color: white;
  text-align: center;
  font-size: 50px;
}
.form {
  margin-left: 44px;
  color: white;
}
.form input,
.form select {
  background: transparent;
  margin-bottom: 8px;
  color: white;
}
option{
  background-color: #00960a;
}

::placeholder{
 color: white; 
}
input {
height: 18px;
}
select{
height: 20px;

}
.user_name {
  margin-left: 70px;
}
.contact_number {
  margin-left: 31px;
}
.email {
  margin-left: 110px;
}
.gender {
  margin-left: 91px;
  cursor: pointer;

}
.age {
  margin-left: 120px;
}
.create_button{
cursor: pointer;
margin-left: 138px;
width: 128px;
height: 40px;
margin-top: 11px;
}