.ContactApp {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.contact_heading {
  color: white;
  font-size: 50px;
}
.form {
  color: white;
  margin: 0 15px;
  padding: 15px 20px;
  border: 3px solid white;
  width: 60%;
}
.form input,
.form select {
  background: transparent;
  margin-bottom: 8px;
  padding: 0 5px;
  height: 25px;
  color: white;
}
option {
  background-color: #00960a;
}

::placeholder {
  color: white;
}
select {
  color: white;
}
.user_name {
  margin-left: 50px;
  width: 188px;
}
.contact_number {
  width: 188px;
  margin-left: 12px;
}
.email {
  width: 188px;
  margin-left: 90px;
}
.gender {
  margin-left: 73px;
  width: 200px;
  cursor: pointer;
}
.age {
  width: 188px;
  margin-left: 103px;
}
.create_button {
  cursor: pointer;
  width: 128px;
  height: 40px;
  margin-top: 11px;
  margin-left: 277px;
}
.contact-card {
  color: white;
  margin: 0 15px;
  padding: 0 20px 5px 20px;
  border: 3px solid white;
  width: 60%;
  height: 300px;
}
.buttons button {
  width: 100px;
  height: 30px;
  margin-right: 10px;
}
@media only screen and (max-width: 425px) {
  .contact_heading {
    font-size: 40px;
  }
  .form {
    border: 0px solid white;
    width: 100%;
  }
  .user_name {
    margin-top: 2px;
    width: 150px;
  }
  .contact_number {
    margin-top: 2px;
    width: 150px;
  }
  .email {
    margin-top: 2px;
    width: 150px;
  }
  .gender {
    margin-top: 2px;
    width: 162px;
  }
  .age {
    margin-top: 2px;
    width: 150px;
  }
  .create_button {
    margin-left: 120px;
  }
  .contact-card {
    border: 0px solid white;
  }
}
@media only screen and (max-width: 375px) {
  .contact_heading {
    font-size: 35px;
  }
  .form {
    border: 0px solid white;
    width: 100%;
  }
  .user_name {
    margin-top: 2px;
    width: 100px;
  }
  .contact_number {
    margin-top: 2px;
    width: 100px;
  }
  .email {
    margin-top: 2px;
    width: 100px;
  }
  .gender {
    margin-top: 2px;
    width: 112px;
  }
  .age {
    margin-top: 2px;
    width: 100px;
  }
  .create_button {
    margin-left: 120px;
  }
  .contact-card {
    border: 0px solid white;
  }
}
